
.content {
    margin-left: 220px;
    margin-top: 10px;
    width: calc(100% - 250px);

    background-color: #FEF5E7;

}


li{
    margin-right: 50px;
    font-weight: bolder;
}
.welcometext{
    font-size: larger;
    padding-top: 100px;
    text-align: center;
    font-weight: bolder;
}
#firstsection{
    width: 100%;
    height: 100vh;
   background-color: #FEF5E7;

}
#btnsersh{
    padding: 10px;
    border-radius: 20px;
}
#deuxiemediv{
    margin-top: 30px;

}
#iconeuser{
    font-size: x-large;
}
table tr{
    border: solid;

}
#divtab{
    margin-top: 40px;
}
table,td{
	/*ajouter des bordure sous forme de tri ou point ou ligne continue*/
    /*pour encadrer les mot fais solid*/
	border-style: solid;
	/*pour coller les bordure */
	border-collapse: collapse;
	/*border-color: : silver;*/
	border: solid black ;
    /* pour center les td */
    text-align: center;
}


/*css pour le modal ajouter */

#ajouter,#annuler{
    font-weight: 500;
    font-size: 1em;
    display: block;
    margin: 10px auto;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    cursor: pointer;
    color:  white; /* Couleur du texte */
    background: #35512F;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: black;
    width: 450px;
    height: 550px;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
}

.close {
    color: black;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
label{
    margin-right: 10px;
}
label,input,select,option{
    margin-bottom: 10px;
}

.modal-header .modal-heading {
    margin-top: 10px;
    font-size: 20px;
}

.modal-footer .form-group {
    text-align: center;
    margin: 20px;
}
.modal-divider {
    border: none;
    height: 2px; /* Augmentez la hauteur pour la rendre plus visible */
    background-color: #ccc;
    margin: 10px 0;
}



